<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css"/>
        <script src="/js/app.js"></script>
    </head>
    <body>
          {{>header}}
          
        <div class="main-content">
        </div>
    <p>Created By{{name}} It uses mapbox.com for retrieving the data</p>
        <img class="portait" src="/img/robot.png">
        {{>footer}}
    </body>
</html>