body{
color:#333333;
font-family:arial;
max-width:650px;
margin:0 auto;
padding:0 16px;
display:flex;
flex-direction:column;
min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}
img{
    width: 250px;
    height:100 px
}
footer{
    background-color: yellow;
    padding:8px;
    border-top: 1px solid #eeeeee;
    margin-top:16px;
    padding: 16px 0;
}
h1{
    font-size:64px;
    margin-bottom:16px;
    
}
header a{
    columns: #888888;
    margin-right:16px;
    text-decoration:none;
}
.portait{
    width:250px;
}

input{
    border: 1px solid #cccccc;
    padding: 1px
}

button{
    cursor: pointer;
    border: 1px solid #888888
}